<div class="four wide column font_size">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path ('app.Infos.apropos') }}" class="item">{{ 'sylius.ui.about'|trans }}</a>
        <a href="{{ path ('app.Infos.conditions') }}" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a> 
    </div>
</div>
